[Unit]
Description=ESP32 - tester
After=gitPull.service

[Service]
Type=simple
User=test
WorkingDirectory=/home/test/esp_tester_flasher/
ExecStart=esp_tester_flasher/start.sh
Restart=always

[Install]
WantedBy=multi-user.target