[Unit]
Description=ESP32 - tester
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/test/
ExecStart=esp_tester_flasher/start.sh
Restart=always

[Install]
WantedBy=multi-user.target