# $HOME/.config/systemd/user/gitpull.service
[Unit]
Description=Pulling recent git repo
After=network.target

[Unit]
Type=simple
User=test
WorkingDirectory=/home/test/esp_tester_flasher/
#ExecStart=/usr/bin/git reset --hard main
ExecStart=git pull

[Install]
WantedBy=multi-user.target